<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.AdvDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.Adv">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="info" property="info" />
        <result column="photo_url" property="photoUrl" />
        <result column="re_url" property="reUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, info, photo_url, re_url
    </sql>

</mapper>
