<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.FoodTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.FoodType">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="type_name" property="typeName" />
        <result column="food_num" property="foodNum" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="creater" property="creater" />
        <result column="modifier" property="modifier" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, type_name, food_num, create_time, modify_time, creater, modifier
    </sql>

</mapper>
