<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.FoodDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.Food">
        <id column="id" property="id" />
        <result column="food_type_id" property="foodTypeId" />
        <result column="merchant_id" property="merchantId" />
        <result column="food_name" property="foodName" />
        <result column="info" property="info" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="img" property="img" />
        <result column="ud_state" property="udState" />
        <result column="is_specs" property="isSpecs" />
        <result column="audit_state" property="auditState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, food_type_id, merchant_id, food_name, info, price, discount_price, img, ud_state, is_specs, audit_state
    </sql>

</mapper>
