<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.OrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.Order">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="merchant_id" property="merchantId" />
        <result column="order_money" property="orderMoney" />
        <result column="pay_state" property="payState" />
        <result column="create_time" property="createTime" />
        <result column="cus_id" property="cusId" />
        <result column="good_num" property="goodNum" />
        <result column="people_num" property="peopleNum" />
        <result column="pay_way" property="payWay" />
        <result column="order_type" property="orderType" />
        <result column="cus_remarks" property="cusRemarks" />
        <result column="order_time" property="orderTime" />
        <result column="cus_tel" property="cusTel" />
        <result column="table_num" property="tableNum" />
        <result column="meal_num" property="mealNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, merchant_id, order_money, pay_state, create_time, cus_id, good_num, people_num, pay_way, order_type, cus_remarks, order_time, cus_tel, table_num, meal_num
    </sql>

</mapper>
