<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.ScoreDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.Score">
        <id column="id" property="id" />
        <result column="merchant_id" property="merchantId" />
        <result column="cust_id" property="custId" />
        <result column="score" property="score" />
        <result column="comment_time" property="commentTime" />
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, cust_id, score, comment_time, order_id
    </sql>

</mapper>
