<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyh.diancan.dao.SysUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzyh.diancan.pojo.SysUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="head_img" property="headImg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, password, user_name, head_img
    </sql>

</mapper>
